@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Open+Sans:300,400|Satisfy&display=swap');
:root {
    --roza: rgb(243, 191, 216);
    --pink: #b01e73;
    --zuta: rgb(217, 174, 70);
    --svetlozuta: #ffda99;
    --zelena: rgb(126, 126, 92);
    --bela: rgb(255,255,255);
    --siva: #555;
    --transition: .4s ease-in-out;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: var(--fontSize);
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(rgba(217, 174, 70,.9), rgba(243, 191, 216,.9)), url(img/bg.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding: 60px 0;
    line-height: 1.6;
}


ul {
    list-style: none;
}

a:hover  {
    transition: var(--transition);
}

h1, h2, h3, h4, h5 ,h6 {
    font-family: 'Fjalla One', sans-serif;
    color: var(--pink);
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
}


main {
    width: 70%;
    margin: auto;
}

aside {
    position: relative;
    right: -3%;
}

aside .logo {
    color: var(--pink);
    text-decoration: none;
    font-size: 4rem;
    font-family: 'Satisfy', cursive;
    transition: var(--transition);
}

aside .logo:hover {
    color: var(--bela);
}

nav {
    background: var(--pink);
    border: 10px solid rgba(255,255,255,.8);
    padding: 30px;
    border-radius: 0 30px;
}

nav ul li a {
    color: var(--bela);
    text-decoration: none;
    font-size: 1.4rem;
}

nav ul li a:hover {
    color: var(--zuta);
}

header img {
    width: 100%;
}

article:nth-child(2), 
article:nth-child(3) {
    border-bottom: 2px solid var(--siva);
    margin: 10px 0;
}

.mainContent {
    background-color: var(--svetlozuta);
    border-radius: 30px 0;
    padding: 30px;
    border: 10px solid rgba(255,255,255,.8);
}

.mainContent article::after {
    display: block;
    content: '';
    width: 100%;
    background: var(--siva);
    margin: 20px 0;
}

.blog img {
    width: 100%;
}

.blog .col-10 {
    padding-left: 30px;
}

.blog h4 {
    font-size: 1.5rem;
}

footer {
    text-align: center;
}

@media (min-width: 768px) and (max-width: 1040px) {
    main {
        width: 95%;
        margin: auto;
    }

    .col-2,
    .col-10 {
        width: 100%;
    }

    .col-10 {
        padding-left: 0;
    }

    .blog .row {
        margin-bottom: 30px;
    }
}

@media (max-width: 767px) {
    [class*="col-"] {
        width: 100%;
    }

    main {
        width: 90%;
        margin: auto;
    }

    aside {
        position: static;
    }

    .blog .col-10 {
        padding-left: 0;
    }

    .blog .row {
        margin-bottom: 30px;
    }
}


